* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #875150;
  min-height: 100vh;
  font-family: sans-serif;
}
.title {
  margin: 20px;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  gap: 15px;
  padding: 20px;
}
.card {
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
  transform-style: preserve-3d;
}
/* This class hides the face of the card */
.card .emoji {
  display: none;
}
.flipped {
  background: #ddd;
  transform: rotateY(180deg);
}
.flipped .emoji {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 10;
}
.hidden {
  display: none;
}
button {
  padding: 15px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}
#stats {
  color: white;
  font-size: 1.5rem;
  margin-top: 10px;
}
